beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colour==0.1.5
flatlatex==0.15
idna==3.10
iso639-lang==2.4.2
joblib==1.4.2
langdetect==1.0.9
littleutils==0.2.4
nltk==3.9.1
outdated==0.2.2
pydetex==1.0.8
PyMultiDictionary==1.2.4
pyperclip==1.9.0
regex==2024.9.11
requests==2.32.3
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
tkmacosx==1.0.5
tqdm==4.66.5
urllib3==2.2.3
